/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #797d82;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #686b70;
    transition: 150ms;
}

.custom-light-shadow{
    box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px, rgba(145, 151, 156, 0.15) 0px 2px 6px 2px;
}

.custom-dark-shadow{
    box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px, rgba(40, 42, 44, 0.15) 0px 2px 6px 2px;
}


.sub-menu {
  @apply relative before:w-2 before:h-2 before:bg-[#9ea9b4] before:rounded-full before:absolute before:top-[5px] before:-left-7;
}

.active{
    @apply bg-gradient-to-r from-[#2a2846] to-[#32304b] text-white
}