@tailwind base;
@tailwind components;
@tailwind utilities;

.nav .at{
    border-left:2px solid #00BAC7;
    color: #00BAC7;
}
.nav-btn{
    @apply w-[40px] h-[40px] text-xl text-[#9ea9b4] bg-white rounded-full shadow flex items-center justify-center
}
.nav-dropdown{
    @apply  flex items-center px-3 py-2 gap-3 cursor-pointer select-none
}
.nav-dropdown:hover {
    @apply bg-[#F6F7F8]
}
.selected{
    @apply text-white bg-[#00BAC7] !important
}
.navigation {
    color: #00BAC7;
}
.footer-active{
    @apply text-white bg-black
}

