@tailwind base;
@tailwind components;
@tailwind utilities;

.nav .at{
    border-left:2px solid #00BAC7;
    color: #00BAC7;
}
.nav-btn{
    @apply w-[40px] h-[40px] text-xl text-white bg-[#131129] rounded-full shadow flex items-center justify-center
}
.nav-dropdown{
    @apply  flex items-center px-3 py-2 gap-3 cursor-pointer select-none text-white text-sm
}
.nav-dropdown:hover {
    @apply bg-gradient-to-r from-[#df2cff] to-[#6345ed] bg-clip-text text-transparent
}
/* .selected{
    @apply text-white bg-gradient-to-r from-[#df2cff] to-[#6345ed] !important
} */
.navigation {
    color: #00BAC7;
}
.footer-active{
    @apply text-white bg-black
}

